.git
.github
node_modules
packages/*/node_modules
packages/app
packages/core
packages/platform
packages/react-native-mpv
packages/react-native-nitro-vlc
packages/react-native-mpv
packages/bare-mpv
packages/bare-tls/build
packages/app/ios
packages/app/android
packages/app/pear
packages/app/.pear-build
docs
*.log
