[submodule "packages/bare-ffmpeg"]
	path = packages/bare-ffmpeg
	url = https://github.com/ayooooo123/bare-ffmpeg.git
[submodule "packages/bare-mpv/vendor/mpv"]
	path = packages/bare-mpv/vendor/mpv
	url = https://github.com/mpv-player/mpv.git
	branch = master
