[submodule "packages/bare-ffmpeg"]
	path = packages/bare-ffmpeg
	url = https://github.com/ayooooo123/bare-ffmpeg.git
[submodule "packages/bare-mpv"]
	path = packages/bare-mpv
	url = https://github.com/ayooooo123/bare-mpv.git
